
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rent Book</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Rent</button>
    {{ form_end(form) }}
{% endblock %}